In [12]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [13]:
# Read metadata 
pq.read_metadata('yellow_tripdata_2024-11.parquet')

<pyarrow._parquet.FileMetaData object at 0x71a53db2dc10>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 3646369
  num_row_groups: 4
  format_version: 2.6
  serialized_size: 10797

In [14]:
# Read file, read the table from file and check schema
file = pq.ParquetFile('yellow_tripdata_2024-11.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [15]:
# Convert to pandas and check data
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3646369 entries, 0 to 3646368
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 486.8+ MB

In [16]:
# Create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [17]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_trips', con=engine))

CREATE TABLE yellow_taxi_trips (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [18]:
#This part is for testing

# Creating batches of 100,000 for the paraquet file
# batches_iter = file.iter_batches(batch_size=100000)
# batches_iter

# Take the first batch for testing
# df = next(batches_iter).to_pandas()
# df

# Creating just the table in postgres
#df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')

In [ ]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='yellow_taxi_trips',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken      9.275 seconds.

inserting batch 2...
inserted! time taken      9.093 seconds.

inserting batch 3...
inserted! time taken      8.977 seconds.

inserting batch 4...
inserted! time taken      9.260 seconds.

inserting batch 5...
inserted! time taken      9.330 seconds.

inserting batch 6...
inserted! time taken      9.032 seconds.

inserting batch 7...
inserted! time taken      9.359 seconds.

inserting batch 8...
inserted! time taken      9.431 seconds.

inserting batch 9...
inserted! time taken      9.207 seconds.

inserting batch 10...
inserted! time taken      9.709 seconds.

inserting batch 11...
inserted! time taken      9.143 seconds.

inserting batch 12...
inserted! time taken      9.372 seconds.

inserting batch 13...
inserted! time taken      9.468 seconds.

inserting batch 14...
inserted! time taken      9.288 seconds.

inserting batch 15...
inserted! time taken      9.413 seconds.

inserting batch 16...
inserted! time taken      9.454 seconds.

inserting batch 17...
inserted! time taken      9.495 seconds.

inserting batch 18...
inserted! time taken      9.161 seconds.

inserting batch 19...
inserted! time taken      9.243 seconds.

inserting batch 20...
inserted! time taken      9.697 seconds.

inserting batch 21...
inserted! time taken      9.122 seconds.

inserting batch 22...
inserted! time taken      9.401 seconds.

inserting batch 23...
inserted! time taken      9.671 seconds.

inserting batch 24...
inserted! time taken      9.564 seconds.

inserting batch 25...
inserted! time taken      9.254 seconds.

inserting batch 26...
inserted! time taken      9.283 seconds.

inserting batch 27...
inserted! time taken      9.355 seconds.

inserting batch 28...
inserted! time taken      9.530 seconds.

inserting batch 29...
inserted! time taken      9.348 seconds.

inserting batch 30...
inserted! time taken      9.671 seconds.

inserting batch 31...
inserted! time taken      9.393 seconds.

inserting batch 32...

In [ ]:
from time import time
import pandas as pd 
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [ ]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-11.parquet'

file_name = url.rsplit('/', 1)[-1].strip()
file_name

In [ ]:
if '.csv' in file_name:
    print('yay') 
    df = pd.read_csv(file_name, nrows=10)
    df_iter = pd.read_csv(file_name, iterator=True, chunksize=100000)
elif '.parquet' in file_name:
    print('oh yea')
    file = pq.ParquetFile(file_name)
    df = next(file.iter_batches(batch_size=10)).to_pandas()
    df_iter = file.iter_batches(batch_size=100000)
else: 
    print('Error. Only .csv or .parquet files allowed.')
    sys.exit()