In [1]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [2]:
# Read metadata 
pq.read_metadata('yellow_tripdata_2024-11.parquet')

<pyarrow._parquet.FileMetaData object at 0x73777dd86e80>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 3646369
  num_row_groups: 4
  format_version: 2.6
  serialized_size: 10797

In [3]:
# Read file, read the table from file and check schema
file = pq.ParquetFile('yellow_tripdata_2024-11.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [4]:
# Convert to pandas and check data
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3646369 entries, 0 to 3646368
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 486.8+ MB

In [5]:
# Create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [6]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_trips', con=engine))

CREATE TABLE yellow_taxi_trips (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [7]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'Inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='yellow_taxi_trips',con=engine, if_exists='append')
    b_end = time()
    print(f'Inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

Inserting batch 1...
Inserted! time taken      9.594 seconds.

Inserting batch 2...
Inserted! time taken      9.348 seconds.

Inserting batch 3...
Inserted! time taken      9.494 seconds.

Inserting batch 4...
Inserted! time taken      9.732 seconds.

Inserting batch 5...
Inserted! time taken      9.363 seconds.

Inserting batch 6...
Inserted! time taken      9.486 seconds.

Inserting batch 7...
Inserted! time taken     10.056 seconds.

Inserting batch 8...
Inserted! time taken      9.527 seconds.

Inserting batch 9...
Inserted! time taken      9.633 seconds.

Inserting batch 10...
Inserted! time taken      9.589 seconds.

Inserting batch 11...
Inserted! time taken      9.737 seconds.

Inserting batch 12...
Inserted! time taken      9.747 seconds.

Inserting batch 13...
Inserted! time taken      9.739 seconds.

Inserting batch 14...
Inserted! time taken      9.799 seconds.

Inserting batch 15...
Inserted! time taken      9.619 seconds.

Inserting batch 16...
Inserted! time taken      9.611 seconds.

Inserting batch 17...
Inserted! time taken      9.678 seconds.

Inserting batch 18...
Inserted! time taken      9.636 seconds.

Inserting batch 19...
Inserted! time taken      9.738 seconds.

Inserting batch 20...
Inserted! time taken      9.844 seconds.

Inserting batch 21...
Inserted! time taken      9.667 seconds.

Inserting batch 22...
Inserted! time taken      9.694 seconds.

Inserting batch 23...
Inserted! time taken     10.018 seconds.

Inserting batch 24...
Inserted! time taken      9.752 seconds.

Inserting batch 25...
Inserted! time taken      9.682 seconds.

Inserting batch 26...
Inserted! time taken      9.833 seconds.

Inserting batch 27...
Inserted! time taken      9.977 seconds.

Inserting batch 28...
Inserted! time taken      9.434 seconds.

Inserting batch 29...
Inserted! time taken      9.502 seconds.

Inserting batch 30...
Inserted! time taken      9.707 seconds.

Inserting batch 31...
Inserted! time taken      9.599 seconds.

Inserting batch 32...
Inserted! time taken      9.680 seconds.

Inserting batch 33...
Inserted! time taken      9.703 seconds.

Inserting batch 34...
Inserted! time taken      8.727 seconds.

Inserting batch 35...
Inserted! time taken      8.506 seconds.

Inserting batch 36...
Inserted! time taken      9.010 seconds.

Inserting batch 37...
Inserted! time taken      3.866 seconds.

Completed! Total time taken was    349.594 seconds for 37 batches.

In [9]:
# import os
# import sys
# import pandas as pd
# import pyarrow.parquet as pq
# import requests

# # URL file
# url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-11.parquet'

# # Mendapatkan nama file dari URL
# file_name = url.rsplit('/', 1)[-1].strip()

# # Mendownload file terlebih dahulu
# print(f"Downloading {file_name} ...")
# response = requests.get(url)

# # Cek apakah file berhasil didownload
# if response.status_code == 200:
#     with open(file_name, 'wb') as f:
#         f.write(response.content)
#     print(f"File downloaded successfully: {file_name}\n")
# else:
#     print(f"Failed to download the file. HTTP status code: {response.status_code}")
#     sys.exit(1)

# # Periksa apakah file yang didownload adalah CSV atau Parquet
# if '.csv' in file_name:
#     print('yay') 
#     df = pd.read_csv(file_name, nrows=10)
#     df_iter = pd.read_csv(file_name, iterator=True, chunksize=100000)
# elif '.parquet' in file_name:
#     print('oh yea')
#     # Membaca file parquet yang sudah terunduh
#     file = pq.ParquetFile(file_name)
#     df = next(file.iter_batches(batch_size=10)).to_pandas()
#     df_iter = file.iter_batches(batch_size=100000)
# else: 
#     print('Error. Only .csv or .parquet files allowed.')
#     sys.exit()