In [8]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [11]:
trips = pq.read_table('yellow_tripdata_2024-11.parquet')
df = trips.to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-11-01 00:46:24,2024-11-01 00:57:17,1.0,1.93,1.0,N,239,262,2,-12.80,-1.0,-0.5,0.00,0.00,-1.0,-17.80,-2.5,0.0
1,2,2024-11-01 00:46:24,2024-11-01 00:57:17,1.0,1.93,1.0,N,239,263,2,12.80,1.0,0.5,0.00,0.00,1.0,17.80,2.5,0.0
2,1,2024-11-01 00:37:36,2024-11-01 01:28:36,1.0,34.30,5.0,N,219,265,1,259.00,0.0,0.0,15.00,0.00,1.0,275.00,0.0,0.0
3,2,2024-11-01 00:12:55,2024-11-01 00:22:17,2.0,0.93,1.0,N,186,107,1,10.00,1.0,0.5,1.00,0.00,1.0,16.00,2.5,0.0
4,2,2024-11-01 00:54:45,2024-11-01 00:59:47,1.0,0.38,1.0,N,79,79,1,6.50,1.0,0.5,1.00,0.00,1.0,12.50,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3646364,2,2024-11-30 23:11:15,2024-11-30 23:19:33,NaN,1.09,NaN,None,162,142,0,1.00,0.0,0.5,0.00,0.00,1.0,5.00,NaN,NaN
3646365,1,2024-11-30 23:49:30,2024-12-01 00:27:39,NaN,20.10,NaN,None,132,238,0,70.00,0.0,0.5,8.09,6.94,1.0,89.03,NaN,NaN
3646366,2,2024-11-30 23:31:46,2024-12-01 00:04:32,NaN,1.38,NaN,None,100,230,0,18.71,0.0,0.5,0.00,0.00,1.0,22.71,NaN,NaN
3646367,2,2024-11-30 23:41:21,2024-11-30 23:53:20,NaN,2.63,NaN,None,42,75,0,13.26,0.0,0.5,0.00,0.00,1.0,14.76,NaN,NaN
3646368,2,2024-11-30 23:21:52,2024-11-30 23:31:11,NaN,1.16,NaN,None,116,42,0,-0.50,0.0,0.5,0.00,0.00,1.0,1.00,NaN,NaN

In [13]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [18]:
# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [19]:
# %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [20]:
# Tentukan ukuran chunk yang diinginkan
chunk_size = 100000

# Membagi DataFrame menjadi chunk menggunakan iloc
df_iter = (df.iloc[i:i + chunk_size] for i in range(0, df.shape[0], chunk_size))

# Mulai iterasi melalui chunks
for chunk in df_iter:
    try:
        t_start = time()

        # Menyimpan data ke dalam tabel
        chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()
        print("Inserted another chunk..., took %.3f second" % (t_end - t_start))

    except Exception as e:
        print(f"An error occurred: {e}")
        break

print("No more data to insert. Exiting loop.")

Inserted another chunk..., took 9.132 second
Inserted another chunk..., took 8.841 second
Inserted another chunk..., took 9.078 second
Inserted another chunk..., took 9.071 second
Inserted another chunk..., took 8.934 second
Inserted another chunk..., took 8.928 second
Inserted another chunk..., took 9.589 second
Inserted another chunk..., took 9.264 second
Inserted another chunk..., took 9.150 second
Inserted another chunk..., took 9.211 second
Inserted another chunk..., took 9.468 second
Inserted another chunk..., took 8.981 second
Inserted another chunk..., took 8.972 second
Inserted another chunk..., took 9.343 second
Inserted another chunk..., took 9.204 second
Inserted another chunk..., took 8.922 second
Inserted another chunk..., took 9.646 second
Inserted another chunk..., took 9.024 second
Inserted another chunk..., took 9.091 second
Inserted another chunk..., took 8.945 second
Inserted another chunk..., took 9.365 second
Inserted another chunk..., took 8.877 second
Inserted another chunk..., took 9.296 second
Inserted another chunk..., took 9.402 second
Inserted another chunk..., took 9.108 second
Inserted another chunk..., took 9.074 second
Inserted another chunk..., took 10.197 second
Inserted another chunk..., took 9.120 second
Inserted another chunk..., took 9.408 second
Inserted another chunk..., took 9.176 second
Inserted another chunk..., took 9.612 second
Inserted another chunk..., took 8.958 second
Inserted another chunk..., took 8.795 second
Inserted another chunk..., took 8.253 second
Inserted another chunk..., took 8.035 second
Inserted another chunk..., took 8.349 second
Inserted another chunk..., took 3.588 second
No more data to insert. Exiting loop.